# Apple 
*.DS_Store
**/.DS_Store
.DS_Store*

# Python
*.pyc
*.egg-info
*.ipynb_checkpoints*

# Single-cell
E-GEOD-*
E-MTAB-*

# Large files
doc/data/
doc/private

# Rest
.vscode

doc/network_fitting/test/
doc/network_fitting/test_network_model/
