# Apple
*.DS_Store
**/.DS_Store
.DS_Store*

# Python
*.pyc
*.egg-info
*.ipynb_checkpoints*

# Single-cell
E-GEOD-*
E-MTAB-*

# Large files
doc/data/
doc/private

# Python build artifacts
build/
dist/
*.egg-info/

# Rest
.vscode

doc/network_fitting/test/
doc/network_fitting/test_network_model/
figures/

# uv
uv.lock

# Images
*.png
*.jpg
*.jpeg
*.gif
*.svg

src/ringity/_version.py

/dist/
/build/
/*.egg-info/
/*.egg
/.venv
__pycache__/
*.pyc
